# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.sim
*.bin

# Debug files
*.dSYM/
*.su

# Build folders
Debug
Release
Exe
exe
List
lst
Obj
obj

# Tag files
cscope.*
tags
taghl_config.txt
.tags*
*.taghl
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS

# Zip files
*.bz2
*.xz
*.gz
*.tar
*.zip
*.rar
*.7z

# Backup folder/files
Backup
backup
TMP
tmp
*.bak

# Doc folder/files
docbook
latex
html
rtf
build_info
*.pdf

# Misc
*.log

# IAR files
settings
*.ewt


# Keil MDK files
*.crf
*.dep
*.uvopt
*.d
*.i
*.lst
*.map
